# Web
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzcXJldHNpcWJjeWFxeW9kYWpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NjY5MDUsImV4cCI6MjA4ODQ0MjkwNX0.njQKdKtQ2J7wAUrMJUbhzs1M2hXEVfWTxKrvI7r6VXo

LIVEKIT_URL=wss://abc-dtz1tiod.livekit.cloud
LIVEKIT_API_KEY=APIeRZT3ov3r5p7
LIVEKIT_API_SECRET=4RhkEhXdX2zzgivVlUfmuittkL2bhTONnSgseTCImFe

SUPABASE_S3_ACCESS_KEY=bac95cdd4b80154c70ea89855d30d434
SUPABASE_S3_SECRET=407c41809f7b4ed75c8808aef34a7ed1fb64eff8688cc60801adc7fe6170ef21
CRON_SECRET=your-cron-secret

# Agent / Edge Function
GOOGLE_API_KEY=AIzaSyC2ADsR1l5YYn7j3AKQ22fEPAxLQQle2AI
GEMINI_API_KEY=AIzaSyC2ADsR1l5YYn7j3AKQ22fEPAxLQQle2AI
SUPABASE_URL=https://xsqretsiqbcyaqyodajo.supabase.co

